{% extends 'base.html.twig' %}

{% block title %}Hello ActiviteController!{% endblock %}

{% block body %}

{% include 'partials/header.html.twig' %}

<!-- MAIN IMG -->
<div class="mainimg">
    <img src="assets/img/imgremiremont.jpg" alt="imgaccueil">
    <p>Les activités</p>
</div>

<!-- ACTIVITES -->
<div class="container my-4">
    {% for activite in activites %}
        <div class="row align-items-center mb-4">
            {% if loop.index is divisible by(2) %}
                <div class="col-lg-7">
                    <img class="imgacti img-fluid" src="{{ asset('images/activites/' ~ activite.image) | imagine_filter('activity_thumb') }}" alt="imgactivite">
                </div>
                <div class="col-lg-5">
                    <div class="text-center">
                        <h2>{{ activite.title }}</h2>
                        <p>{{ activite.description }}</p>
                        <a class="btn btn-primary" href="{{ activite.url }}" target="_blank">Voir le lieu</a>
                    </div>
                </div>
            {% else %}
                <div class="col-lg-5">
                    <div class="text-center">
                        <h2>{{ activite.title }}</h2>
                        <p>{{ activite.description }}</p>
                        <a class="btn btn-primary" href="{{ activite.url }}" target="_blank">Voir le lieu</a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <img class="imgacti img-fluid" src="{{ asset('images/activites/' ~ activite.image) | imagine_filter('activity_thumb') }}" alt="imgactivite">
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% include 'partials/footer.html.twig' %}

{% endblock %}
